body
{
    margin: 0;
}

.menu
{
    display: flex;
    justify-content: flex-start;
    background-color: navy;
    padding: 5px;
    &-item
    {
        display: flex;
        width: 120px;
        height: 40px;
        color:black;
        background-color: paleturquoise;
        text-decoration: none;
        margin: 3px;
        padding: 3px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        div
        {
            text-align: center;
        }

        &:hover, &.active
        {
            color: #73BDC0;
            background-color: #561615;
            text-decoration: underline;
        }
    }
}

.table-wrapper
{
    $bord: solid thin black;
    padding: 5px;
    table
    {
        border: $bord;
        td
        {
            text-align: left;
            border: $bord;
            min-width: 80px;
        }
        th
        {
            @extend td;
            font-weight: bold;
        }
    }
}

@media (max-width: 500px)
{
    .navbar
    {
        flex-direction: column;
        align-items: stretch;
        &-item
        {
            width: auto;
        }
    }
}
