{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}    

    {# <div {{ vue_component('Table', { 'headers': headers, 'table': table }) }}></div> #}
    <table id="datatable" class="display compact">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
                <tr>
                    {% set hidden = true %}
                    {% for data in row %}
                        <td>{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
