{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="table-wrapper">
        <table class="table">
            <tr>
                {% for header in headers %}
                    <th> {{ header }} </th>
                {% endfor %}
            </tr>
            {% for item in table %}
                <tr>
                    {% for data in item %}
                        <td>{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}