{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <table class="table">
        <tr>
            {% for header in headers %}
                <th> {{ header }} </th>
            {% endfor %}
        </tr>
        {% for arr in items %}
            <tr>
                {% for item in arr %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}